html,
body,
#app {
  height: 100%; }

[v-cloak] {
  display: none; }

.newui #citrixlogin {
  position: absolute;
  left: 20px;
  bottom: 180px;
  color: #666;
  height: 40px;
  line-height: 40px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-image: url("https://www.affinitylogon.com/Content/images/footerLogo.png");
  background-size: 40px;
  z-index: 9999998; }
.newui #citrixlogin a {
    color: #666; }

.newui .section .default-form .form-row .datepicker input {
  width: 325px;
  box-sizing: content-box; }

.newui .section .date-range-filter {
  padding: 10px; }
  .newui .section .date-range-filter .date-picker-box {
    display: inline-block; }
    .newui .section .date-range-filter .date-picker-box .form-row input {
      width: 268px;
      box-sizing: content-box; }

.newui .login-box-wrapper .login-box {
  margin-top: -200px; }
  .newui .login-box-wrapper .login-box .box-title span.icon-key {
    font-size: larger; }
  .newui .login-box-wrapper .login-box .box-body .login-box-row.buttons {
    margin: 5px 0; }
  .newui .login-box-wrapper .login-box .box-body .login-box-row.label {
    line-height: initial;
    height: 40px;
    margin-bottom: 0px;
    position: relative; }
    .newui .login-box-wrapper .login-box .box-body .login-box-row.label input[type="text"],
    .newui .login-box-wrapper .login-box .box-body .login-box-row.label input[type="password"] {
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px; }
    .newui .login-box-wrapper .login-box .box-body .login-box-row.label select {
      width: 100%;
      box-sizing: border-box;
      padding-left: 15px;
      height: 28px; }
    .newui .login-box-wrapper .login-box .box-body .login-box-row.label span.icon-user, .newui .login-box-wrapper .login-box .box-body .login-box-row.label span.icon-briefcase, .newui .login-box-wrapper .login-box .box-body .login-box-row.label span.icon-mail, .newui .login-box-wrapper .login-box .box-body .login-box-row.label span.icon-lock {
      position: absolute;
      top: 6px;
      left: 20px;
      font-size: larger;
      color: #999; }
    .newui .login-box-wrapper .login-box .box-body .login-box-row.label div.username-question {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 5px;
      right: 20px;
      text-align: center; }
      .newui .login-box-wrapper .login-box .box-body .login-box-row.label div.username-question span {
        font-size: large; }

@media (max-width: 768px) {
  .newui .login-underlay .login-underlay-header {
    height: 65px; }
    .newui .login-underlay .login-underlay-header .heading {
      display: none; }
    .newui .login-underlay .login-underlay-header .heading.mobile {
      display: block;
      margin: 16px 0 0 20px;
      font-size: 21px; }
    .newui .login-underlay .login-underlay-header .companylogo img {
      max-width: 150px; }
  .newui .login-underlay .login-underlay-footer {
    height: 100px;
    padding: 20px;
    box-sizing: border-box; }
    .newui .login-underlay .login-underlay-footer p {
      margin: 0;
      font-size: 13px; }
  .newui .login-box-wrapper {
    position: absolute;
    width: 100%;
    top: 90px;
    padding: 0 15px;
    box-sizing: border-box; }
    .newui .login-box-wrapper .login-box {
      display: block;
      position: relative;
      margin: 0;
      left: 0;
      width: 100%; }
      .newui .login-box-wrapper .login-box .box-body .login-box-row.label {
        position: relative;
        padding: 2px 10px; }
        .newui .login-box-wrapper .login-box .box-body .login-box-row.label input[type="text"],
        .newui .login-box-wrapper .login-box .box-body .login-box-row.label input[type="password"] {
          width: 100%;
          box-sizing: border-box; }
  .newui img#alfred {
    width: 280px; }
  .newui .content .section {
    min-width: 0; }
    .newui .content .section .default-form.w-border {
      width: auto; }
    .newui .content .section .default-form .form-row {
      margin: 0;
      padding: 0 10px 10px 10px; }
      .newui .content .section .default-form .form-row input[type="text"].long,
      .newui .content .section .default-form .form-row select.long {
        width: 100%;
        box-sizing: border-box !important; } }

#form-questions-setup select.long {
  box-sizing: content-box; }

#form-questions-setup .section-title {
  margin: 0;
  padding: 0 10px 10px 10px; }

#form-questions-setup .form-row + .section-title {
  border-top: 1px dashed #ccc;
  padding-top: 10px; }

.row-error {
  padding-bottom: 10px;
  color: red; }

.toaster {
  right: 0;
  bottom: 50px; }
  .toaster .toast {
    right: 0; }

.tooltip {
  display: block !important;
  z-index: 9999998; }
  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px; }
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black; }
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px; }
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px; }
    .tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="right"] {
    margin-left: 5px; }
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[x-placement^="left"] {
    margin-right: 5px; }
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s; }
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s; }
